{% extends "layout.html" %}

{% block title %}Patient Report{% endblock title %}

{% block content %}
<style>
    .report-section {
        background-color: #f9f9f9;
        padding: 1.5em;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-bottom: 2em;
        margin-top: 1em;
    }
    .report-image {
        max-width: 23%;
        height: auto;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-top: 0.5em;
        margin-bottom: 1.5em;
    }
    h1, h2 {
        font-size: 1.5em;
    }
    p{
        font-size: 1.1em;
        color: #333;
        margin: 0.5em 0;
    }
    span{
        font-size: 1.1em;
        color: #333;
        margin: 0.5em 0;
    }
</style>
    <div class="container">
    <main>
        <h1 class="mt-6 flex font-semibold">Patient Report</h1>
        <div class="report-section">
            <div class="patient-info border-b-2 pb-2 mb-2">
                <h2 class="underline">Patient Information</h2>
                <p><strong>Name:</strong> {{ patient.name }}</p>
                <p><strong>Age:</strong> {{ patient.age }}</p>
                <p><strong>Patient ID:</strong> {{ patient.patient_id }}</p>
                <p><strong>Report Date:</strong> {{ patient.date_uploaded.strftime('%Y-%m-%d') }}</p>
            </div>
            
            <div class="analysis-results border-b-2 pb-2 mb-2">
                <h2 class="underline">Analysis Results</h2>
                <span><strong>Left Eye Diagnosis:</strong> {{ patient.LeftEye_diagnosis }}</span>
                <span class="ml-64 pl-64"><strong>Right Eye Diagnosis:</strong> {{ patient.RightEye_diagnosis }}</span>
                <br>
                <span><strong>Left Eye Confidence:</strong> {{ patient.LeftEye_prediction }}</span>
                <span class="ml-64 pl-32"><strong>Right Eye Confidence:</strong> {{ patient.RightEye_prediction }}</span>
            </div>

            <h2>Original Eye Scans</h2>
            <div class="eye-images flex space-x-10">
                <p><strong>Left Eye Image:</strong></p>
                <img src="{{ url_for('static', filename='Eye_pictures/' + patient.LeftEye_image_file) }}" alt="Left Eye Image" class="report-image">

                <p><strong>Right Eye Image:</strong></p>
                <img src="{{ url_for('static', filename='Eye_pictures/' + patient.RightEye_image_file) }}" alt="Right Eye Image" class="report-image">
            </div>
            
            <h2>Processed Images</h2>
            <div class="processed_images flex space-x-10">
                <p><strong>Processed Left Eye:</strong></p>
                <img src="{{ url_for('static', filename='processed_images/' + patient.processed_LeftEye_image_file) }}" alt="Processed Left Eye" class="report-image">

                <p><strong>Processed Right Eye:</strong></p>
                <img src="{{ url_for('static', filename='processed_images/' + patient.processed_RightEye_image_file) }}" alt="Processed Right Eye" class="report-image">           
            </div>
        </div>
    </main>
</div>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}