<h3>Patient Retinal Scan</h3>
<h4>Patient ID: {{ patient.patient_id }}</h4>
<h4>Name: {{ patient.name }}</h4>
<h4>Age: {{ patient.age }}</h4>
<h4>Gender: {{ patient.sex }}</h4>
<h4>Date of report: {{ patient.date_uploaded.strftime('%Y-%m-%d') }}</h4>
<h4>Left Eye Diagnosis: {{ patient.LeftEye_prediction }}</h4>
<h5>Left Eye Confidence Level: {{ patient.LeftEye_diagnosis }}</h5>
<h4>Right Eye Diagnosis: {{ patient.RightEye_prediction }}</h4>
<h5>Right Eye Confidence Level: {{ patient.RightEye_diagnosis }}</h5>
<p>Filename: LeftEye</p>
<img src="{{ url_for('static', filename='Eye_pictures/' + patient.LeftEye_image_file, _external=True) }}" alt="Retinal Scan">
<p>Filename: RightEye</p>
<img src="{{ url_for('static', filename='Eye_pictures/' + patient.RightEye_image_file, _external=True) }}" alt="Retinal Scan">
<p>Filename: processed RightEye</p>
<img src="{{ url_for('static', filename='processed_images/' + patient.processed_RightEye_image_file, _external=True) }}" alt="Processed Retinal Scan">
<p>Filename: processed LeftEye</p>
<img src="{{ url_for('static', filename='processed_images/' + patient.processed_LeftEye_image_file, _external=True) }}" alt="Processed Retinal Scan">
